html,
body,.main-container {
	width: 100%;
	height: 100%;
	font-family: 'MyWebFont', Fallback, sans-serif
}
a,a:hover, a:focus{
	text-decoration: none !important;
}

.margintb20{
	margin: 20px 0;
}
.margin0{
	margin: 0;
}

.pad0{
	padding: 0;
}

.display-table{
	display: table;
}

.display-table-cell{
	display: table-cell;
}

.vertical-middle{
	vertical-align: middle;
}

.logo-font{
	color: #FF0000;
	font-style:italic; 
}

.parafont{
	font-size: 1.2em;
}